.random {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    min-height: 400px;
    opacity: 50%;
}