@media screen and (min-width: 1180px) {
  .top {
    height: 100vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    width: 100%;
    position: absolute;
  }
}

@media screen and (max-width: 1180px) {
  .top {
    height: 100vh;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    width: 100%;
    position: absolute;
  }
}