#preferences {
    position: relative;
}

.info {
    background-color: rgb(43,16,5);
    height: 30vh;
    display: grid;
}

.inner {
    align-self: center;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
}