.addLocation {
    float: right;
    margin-right: 0.5em;
    margin-top: 0.25em;
}

.been {
    margin-left: 1%;
    margin-right: 2%;
    border: 1px solid #d3ad8d;
    width: 45.75%;
    height: 50vh;
    display: inline-block;
}

.been::before {
    content: 'Visited';
    font-size: 1.25em;
    position: absolute;
    background: transparent;
    height: 1.5em;
    margin-top: -13px;
    margin-left: 0.5em;
    margin-right: auto;
    padding: 0 0.5em;
    padding-left: 0.5em;
}

.toGo {
    margin-left: 2%;
    margin-right: 1%;
    border: 1px solid #d3ad8d;
    width: 47.75%;
    height: 50vh;
    float: left;
}

.toGo::before {
    content: 'To Visit';
    font-size: 1.25em;
    position: absolute;
    background: white;
    height: 1.5em;
    margin-top: -13px;
    margin-left: 0.5em;
    margin-right: auto;
    padding: 0 0.5em;
    padding-left: 0.5em;
}