@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.nav {
  position: sticky;
  font-family: 'Julius Sans One';
  font-weight: bold;
}

.left {
  padding-left: 1em;
  font-size: 2.5em;
  margin-top: 0.5em;
  color: #4f2523;
}

.option {
  float: right;
  font-size: 1.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #a1795a;
}

@media screen and (min-width: 1000px) {
  .left {
    width: 30%;
  }
  .right {
    width: 70%;
    padding-right: 1.5em;
    margin-top: 1.5em;
  }

}

@media screen and (max-width: 1000px) {
  .right {
    display: none;
  }
}
